.wrapper {
  width: 280px;
  height: 170px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
}

.padding{
  padding: 0px 10px 10px 20px;
}

.heading {
  border-bottom: 1px solid #CCC;
}

.display {
  display: none;
}

.text {
  color: rgb(0, 110, 255)
}

.button {
  background-color: rgb(0, 89, 255);
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

