.wrapper {
  width: 380px;
  height: 220px;
  margin: 0 auto;
}
  
.padding{
  padding: 0px 0px 0px 0px;
}

.text{
  padding-left: 25px;
  padding-right: 45px;
  font-size: 14px;
}

.userContext-icon {
  padding-left: 25px;
  padding-right: 45px;
  display: flex;
  align-items: center;
}

.userContext-label {
  margin-inline-start: 0;
  margin-inline-end: 3px;
  color: #37adff;
}

.userContext-indicator {
  width: 16px;
  height: 16px;
  background-image: url("briefcase.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.img {
  padding-right: 10px;
  align-items: baseline;
}
  
.heading {
  text-align: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
}
  
.display {
  display: none;
}
